<% include partials/header %>
<div style="width: inherit" class="jumbotron">
  <h2>Our contact information is</h2>
  <div>
    <p>
      Plot 624-B, Rd Number 35, Beside Blue Cross, Jubilee Hills, Hyderabad,
      Telangana 500033
    </p>
  </div>
  <h2>Our contact phone number is</h2>
  <div>
    <p>
      040 2354 1175
    </p>
  </div>
</div>
<% include partials/footer %>
