<% include partials/header %>
<center>
<div style="width: inherit" class="jumbotron" >
        <h1 class="display-4">Hello, Hyderabad people!</h1>
        <p class="lead">Welcome to Flying Sphaghetti monster restaurant  </p>
        <hr class="my-4">
        <p>Enjoy the delicious Italian food at our restaurant.
        </p>
        <hr class="my-4">
        <p>
            About Us:Situated in Jubilee Hills, Flying Spaghetti Monster is one of the best restaurants in Hyderabad for Italian food. The d&eacute;cor is industrial chic, with large windows, wooden tables and chairs, and a high roof. Begin your meal with delicious salads such as insalata pancetta (crispy bacon, lettuce, roast chicken and egg) and starters like crostini al forno (artichokes, mozzarella and olives on toasted bread). Follow this with the fresh home-made pastas and crepes, which come in a variety of combinations. The in-house gnocchi, tortellini, tagliatelle and spinach ravioli are also highly recommended, as are the thin crust pizzas. Round off your meal with the no-bake blueberry cheesecake or Paola&rsquo;s tiramisu.

        </p>
        
        <hr class="my-4">
        <div>
                <hr class="my-4">
                <hr class="my-4">

            <div class="text-center">
                <a class="btn btn-secondary btn-lg" href="https://timesofindia.indiatimes.com/travel/hyderabad/flying-spaghetti-monster/ps48183777.cms" role="button">Learn more about our restaurant</a>

            </div>

        </div>

      </div>
</div>
</center>
<% include partials/footer %>
